* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: monospace;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 2px 5px;
  border: 1px solid black;
}

th input, td input {
  width: 100%;
}
