* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: monospace;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tr {
  height: 30px;
}

th, td {
  text-align: center;
  padding: 2px 5px;
  border: 1px solid lightgray;
  width: 150px;
  overflow: hidden;
}

th {
  background-color: whitesmoke;
}

.number {
  width: 50px;
  text-align: right;
  padding-right: 8px;
  background-color: whitesmoke;
}

th input, td input {
  width: 100%;
  font-size: 14px;
  font-family: monospace;
}
